<div class="homesection">
	<div class="homeimage">
		<%= link_to pages_hats_path do %>

		<%= image_tag 'plughatimage.png', :class => "fullimage" %>

		<% end %>

	</div>

	<div class="homeinfobox">
		<div class="homeinfo1">
			<p>Each week we design random "sometimes cool" hats.  You choose
				which one you want for the month.  Delivered by black doves to your
				doorstep (much faster than a drone).</p>
		</div>

		<%= link_to pages_subscription_path do %>
		<div class="homesignupbox">
			Join Capsulely Subscription!
		</div>
		<% end %>

		<div class="homeinfo2">
			Oh Yeah!</br>
				It’s only </br>
					<span class="bigfont">$24.</span>

		</div>

		<div class="homeinfo3">
			Only 480 Nickels.  How many
			couches would you have to
			dig thru?
		</div>

	</div>

	<div class="homeinfobox2">
		<div class="moreinfobox1">
			<h1>Launching June 2016</h1>

			<p>We will have only a limited number of subscriptions available.  Join now and get the plug hat and save your spot when we launch.  <%= link_to "View the plug hat.", pages_hats_path %></p>



		</div>

		<div class="moreinfobox2">
			<%= link_to pages_hats_path do %>
				<%= image_tag 'plughatimage2.png', :class => "fullimage2" %>
			<% end %>
		</div>

	</div>


</div>