<div class="postsection">

	<div class="howitworks">

		<h1>How It Works</h1>

		<div class="howitworksbox">
			<%= image_tag 'subscribe-howitworks-capsulely.png', :class => "fullimage" %>

			<p>Once you subscribe, you get 1 hat credit.  </br></br>You save mad dough each month by joining the squad.  </br></br>Use your credit each month to choose the hat you feeling and it will be sent to you right away.</p>
		</div>
		<div class="howitworksbox">
			
			<%= image_tag 'hat-package-howitworks-capsulely.png', :class => "fullimage" %>

			<p>We partner with cool designers and brands.  </br></br>Our designs are inspired by anything and everything in this wonderful world.  </br></br>Once you choose your design, choose type of hat you like.  Snapback, low profile hat, buckets and other hat options.</p>
		</div>

		<div class="howitworksbox">
			<%= image_tag 'hat-shipment-howitworks-capsulely.png', :class => "fullimage" %>

			<p>Your hat is carefully packed by supermodels with clean hands.  </br></br>You get first dips on exclusive and limited hats with a subscription.  </br></br>Join the squad and get hats sent to you each month.</p>
		</div>
	</div>

	<div class="packagecontent">

		<h1>Capsulely Subscription</h1>

		<h3>What to expect?</h3>
		<ul class="fa-ul includelist">
			<li><i class="fa-li fa fa-asterisk"></i>Each month you get 1 credit to select a hat you want delivered.</li>
			<li><i class="fa-li fa fa-asterisk"></i>Our designs are inspired by any and everything.</li>
			<li><i class="fa-li fa fa-asterisk"></i>Only a number of memberships are available.</li>
			<li><i class="fa-li fa fa-asterisk"></i>Top quaility hats and cool designs.</li>
			<li><i class="fa-li fa fa-asterisk"></i>Save money each month. Up to 30%.</li>
			<li><i class="fa-li fa fa-asterisk"></i>Exclusive offers and first access to limited designs.</li>
			<li><i class="fa-li fa fa-asterisk"></i>Easy cancellation.  Cancel anytime.</li>
			<li><i class="fa-li fa fa-asterisk"></i>You can expect inspirations from streetwear, pop culture, hiphop, sports, movies/tv, music, food, nature, technology and other cool things.</li>
		</ul>

	</div>
	<div class="subscribecontent">

		<%= image_tag 'plughatimage2.png', :class => "fullimage2" %>

		<%= link_to new_subscription_path, data: { no_turbolink: true } do %>
		<div class="subscribebox">
			BUY SUBSCRIPTION | $24
		</div>
		<% end %>

		<p>Get A New Hat Each Month.  Cancel anytime.</p>

	</div>

</div>